$colour-dark-primary: #000066;
$colour-primary: #0000FF;
$colour-light-primary: #00A0f3;

$colour-dark-secondary: #ff7730;
$colour-light-secondary: #ffb900;

$colour-white: #FAFBF4;

$default-font-size: 1.8rem;